:root[data-theme='light'] {
  .main-playlistEditDetailsModal-closeBtn {
    color: #000000b3;

    &:hover,
    &:focus {
      background-color: #0000001a;
    }
  }

  .main-playlistEditDetailsModal-textElement {
    background-color: #0000001a;

    &:focus {
      background-color: var(--spice-highlight-elevated);
    }
  }

  /* Artist - close button */
  .EU1ylDKh7s2oMU0g:not(:hover) {
    color: #000000b3;
    background-color: #ffffffb3;
  }

  .main-trackCreditsModalV2-container {
    [data-encore-id='listRow'] {
      --box-hover-background-color: var(
        --background-tinted-base
      ) !important;
    }
  }

  .main-trackCreditsModal-header,
  .main-trackCreditsModalV2-header {
    border-bottom-color: #0000001a;
  }

  .main-trackCreditsModalV2-closeBtn:hover {
    background-color: #0000001a;
  }

  .main-trackCreditsModal-closeBtn path {
    fill: currentcolor;
  }
}
