:root {
  --round-value: 50%;
  --custom-progress-bar-height: 2px;
  --custom-progress-bar-slider-size: 8px;
  --main-song-preview-height: 24px;
  --turntable-shine: conic-gradient(
    from 15deg,
    transparent,
    rgb(200 200 200 / 10%) 45deg,
    transparent 90deg 180deg,
    rgb(200 200 200 / 10%) 225deg,
    transparent 270deg 360deg
  );
  --turntable-groove: repeating-radial-gradient(
    transparent 0px 4px,
    rgb(16 16 16) 4px 5px,
    transparent 5px 9px,
    rgb(16 16 16/ 70%) 9px 10px
  );
  --turntable-base: radial-gradient(#0f0f0f, #0a0a0a);
  --turntable-duration: 12s;
  --turntable-play-state: paused;
}

:root[data-theme='light'] {
  --spice-main: #fafafa;
  --spice-sidebar: #f0f0f0;
  --spice-main-elevated: #fff;
  --spice-highlight-elevated: #f9f9f9;
  --spice-card: #fff;
  --spice-player: #f5f5f5;
  --spice-tab-active: #ccc;
  --spice-button-active: #00b230;
  --spice-button-disabled: #ccc;
  --spice-text: #1a1a1a;
  --spice-subtext: #3f3f3f;
  --spice-rgb-selected-row: 80, 80, 80;
  --spice-rgb-shadow: 220, 220, 220;
  --spice-rgb-text: 0, 0, 0;
  --main-song-preview-color: #ddebe0;

  .encore-dark-theme {
    --essential-base: #aaa;
    --essential-subdued: #ccc;
  }

  .encore-inverted-light-set {
    --background-highlight: #0f0f0f;
  }

  .encore-internal-color-text-subdued {
    color: var(--spice-subtext);
  }

  .lAlBr1m_JfWdmeZEuPDA,
  .dG81kVvy5TxHzrR6gBAL,
  .EF2XXzGop5glVLQmKa2v,
  .ojrBmBNrA3EfuQlTYybV {
    filter: invert(1);
  }

  [data-testid='track-visual-enhancement'] .cover-art::before {
    filter: drop-shadow(0 0 2px #000) brightness(1.6);
  }

  .main-nowPlayingView-contextItemInfo::before {
    background: linear-gradient(
      180deg,
      hsl(0deg 0% 93% / 0%),
      hsl(0deg 0% 93% / 45%) 18%,
      var(--spice-main) 89%,
      var(--spice-main) 96%
    );
  }

  .main-trackCreditsModal-closeBtn path {
    fill: currentcolor;
  }

  [data-testid='settings-page'] .x-toggle-indicator {
    background: var(--spice-highlight-elevated) !important;
  }

  .fad-heart {
    color: #ccc;
  }

  .fad-song-preview button {
    color: #ccc;

    &:hover {
      color: #fff;
    }
  }
}

:root[data-theme='dark'] {
  --main-song-preview-color: #051b0c;
}

/* Common Components */
.common-svg-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: var(--spice-subtext);
  background-color: unset;
  border: unset;
  cursor: pointer;
}

.common-svg-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.common-svg-button:not([disabled]):hover {
  color: var(--spice-text);
}

.song-preview {
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38px;
}

.song-preview-item {
  font-size: 12px;
}

/* Remove Upgrade Button, AD */
.main-topBar-UpgradeButton,
[data-testid='test-ref-div'],
[data-testid='billboard-minimized'] {
  display: none;
}

/* Playlist */
.main-entityHeader-backgroundColor,
.main-actionBarBackground-background,
.main-topBar-overlay,
.playlist-playlist-actionBarBackground-background {
  background: unset !important;
}

.main-actionBarBackground-background {
  background-image: unset;
}

.main-entityHeader-shadow {
  box-shadow: unset;
}

.main-topBar-background {
  background-color: var(--spice-main);
}

.main-rootlist-wrapper [role='row']:nth-child(odd) {
  background: linear-gradient(
    to right,
    transparent,
    rgb(120 120 120 / 5%),
    transparent
  );
}

.main-nowPlayingBar-nowPlayingBar {
  height: 58px;
}

/* Cover Image */
.main-coverSlotCollapsed-container {
  box-shadow: 0 0 16px rgb(var(--spice-rgb-subtext), 40%);
}

/* Progress Bar */
.Root__now-playing-bar {
  position: relative;
}

.Root__now-playing-bar .playback-bar {
  width: 100vw;
  position: absolute;
  bottom: calc(0px + var(--main-song-preview-height));
  z-index: 100;
}

.playback-progressbar,
.x-progressBar-progressBarBg,
.x-progressBar-sliderArea {
  height: var(--custom-progress-bar-height);
}

.x-progressBar-fillColor {
  background-color: var(--spice-button);
}

.playback-bar .x-progressBar-fillColor,
.playback-bar [data-testid='progress-bar-handle'] {
  transition-duration: var(--progress-bar-duration);
  transition-timing-function: linear;
}

.progress-bar__slider {
  width: var(--custom-progress-bar-slider-size);
  height: var(--custom-progress-bar-slider-size);
}

.playback-bar__progress-time-elapsed,
[data-testid='playback-duration'] {
  height: var(--main-song-preview-height);
  position: absolute;
  top: var(--custom-progress-bar-height);
  left: 50%;
  line-height: var(--main-song-preview-height);
}

.playback-bar__progress-time-elapsed {
  transform: translateX(calc(-100% - 10px));
}

.playback-bar__progress-time-elapsed::after {
  position: absolute;
  left: calc(100% + 10px);
  font-weight: bold;
  color: var(--spice-button);
  content: '/';
  transform: translateX(-50%);
}

[data-testid='playback-duration'] {
  transform: translateX(10px);
}

#full-app-display {
  background-color: #2c2c2c;
}

#fad-mask {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(9 9 9 / 50%);
  z-index: -2;
}

#fad-body {
  height: calc(100vh - 120px) !important;
  margin: 60px 0;
}

[data-testid='track-visual-enhancement'] .cover-art-image,
#fad-art,
#fad-art-image,
#fad-art-inner {
  border-radius: var(--round-value) !important;
}

#fad-art {
  width: 268px !important;
  margin: 80px 100px;
}

[data-testid='track-visual-enhancement'] .cover-art {
  margin: calc(17% + 5px);
}

[data-testid='track-visual-enhancement'] .cover-art,
#fad-art {
  position: relative;
  animation: rotate-turntable var(--turntable-duration) linear infinite
    var(--turntable-play-state);
}

[data-testid='track-visual-enhancement'] .cover-art::after,
#fad-art-image {
  box-shadow: 0 0 10px rgb(3 3 3 / 50%) inset;
}

[data-testid='track-visual-enhancement'] .cover-art-image,
#fad-art-image {
  background-color: #0f0f0f;
}

[data-testid='track-visual-enhancement'] .cover-art-icon,
#fad-art-overlay,
#fad-art-inner {
  display: none !important;
}

[data-testid='track-visual-enhancement'] .cover-art::before,
[data-testid='track-visual-enhancement'] .cover-art::after,
#fad-art::before,
#fad-art::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  content: '';
}

[data-testid='track-visual-enhancement'] .cover-art::before,
#fad-art::before {
  background:
    var(--turntable-shine), var(--turntable-groove),
    var(--turntable-base);
  box-shadow:
    0 0 5px #0a0a0a inset,
    0 0 2px #000;
  transform: scale(1.5);
  filter: drop-shadow(0 0 2px #000);
}

#fad-art::after {
  background-color: rgb(100 100 100 / 10%);
  border: 1px solid rgb(150 150 150 / 5%);
  box-shadow:
    0 0 1px rgb(40 40 40 / 20%) inset,
    0 0 1px rgb(200 200 200 / 20%);
  transform: scale(1.65);
  z-index: -1;
}

#fad-details {
  max-width: 520px !important;
}

#fad-details #fad-title {
  font-size: 30px;
}

#fad-details #fad-artist {
  margin-top: 4px;
  font-size: 18px;
}

#fad-details #fad-album,
#fad-details #fad-release-date {
  margin: 6px 16px 0 0;
  display: inline-block;
  color: #ccc;
}

#fad-details #fad-album {
  font-size: 13px;
}

#fad-details #fad-release-date {
  font-size: 11px;
}

#fad-details #fad-artist > *,
#fad-details #fad-album > *,
#fad-details #fad-release-date > *,
#fad-details #fad-status > #fad-controls > * > svg {
  vertical-align: middle;
}

#fad-details #fad-artist > svg {
  width: 20px;
  height: 20px;
}

#fad-details #fad-album > svg {
  width: 15px;
  height: 15px;
  margin-left: 4px;
  margin-right: 6px;
}

#fad-details #fad-release-date > svg {
  width: 13px;
  height: 13px;
  margin-left: 4px;
  margin-right: 6px;
}

#fad-play > svg {
  width: 24px;
  height: 24px;
}

#fad-controls > button > svg {
  fill: #ccc;
}

#fad-controls > button:hover > svg {
  fill: #fff;
}

#fad-progress-container {
  font-size: 12px;
}

#fad-elapsed,
#fad-duration {
  min-width: 32px !important;
}

#fad-progress {
  height: var(--custom-progress-bar-height) !important;
  background-color: rgb(200 200 200 / 30%) !important;
}

#fad-progress-inner {
  background-color: var(--spice-button) !important;
  box-shadow: unset !important;
}

#fad-thumb {
  width: var(--custom-progress-bar-slider-size) !important;
  height: var(--custom-progress-bar-slider-size) !important;
  top: calc(
    0px -
      (
        var(--custom-progress-bar-slider-size) -
          var(--custom-progress-bar-height)
      ) /
      2
  ) !important;
}

/* Full App Display - heart */
.fad-heart {
  margin: 12px;
}

.fad-heart:not([disabled]):hover,
.fad-heart.checked {
  color: var(--spice-button) !important;
}

/* song preview */
.main-song-preview {
  width: 100vw;
  height: var(--main-song-preview-height);
  padding: 0 10px;
  position: relative;
  left: calc(0px - var(--panel-gap));
  bottom: calc(0px - var(--panel-gap));
  background-color: var(--main-song-preview-color);
  order: 100;
}

.fad-song-preview {
  width: 100%;
  position: absolute;
  bottom: 20px;
}

/* Lyrics Plus */
#fad-lyrics-plus-container,
.lyrics-lyricsContainer-LyricsContainer.fad-enabled {
  height: inherit !important;
}

.lyrics-lyricsContainer-LyricsLine {
  font-weight: 600 !important;
}

.lyrics-config-button-container {
  bottom: 10px;
}

.lyrics-config-button {
  border-radius: 50%;
  background-color: rgb(6 6 6 / 20%);
  outline: 1px solid rgb(150 150 150 / 10%);
  box-shadow: 0 0 20px rgb(150 150 150 / 20%);
}

/* Responsive */
@media (width <= 908px) {
  #fad-foreground {
    flex-wrap: wrap;
    align-content: center;
  }

  #fad-details {
    padding-top: 50px;
  }
}

@media (width >= 1460px) and (height >= 960px) {
  #fad-foreground,
  .main-trackCreditsModal-container {
    transform: scale(1.2) !important;
  }
}

@keyframes rotate-turntable {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
