@import './animations.css';
@import './main.css';

:root {
  --custom-progress-bar-height: 2px;
  --custom-progress-bar-slider-size: 8px;
  --progress-bar-center-offset: calc(
    (
        var(--custom-progress-bar-slider-size) -
          var(--custom-progress-bar-height)
      ) /
      2
  );
}

:root[data-theme='light'] {
  --spice-main: #fafafa;
  --spice-sidebar: #f0f0f0;
  --spice-main-elevated: #fff;
  --spice-highlight-elevated: #f9f9f9;
  --spice-card: #fff;
  --spice-player: #f5f5f5;
  --spice-tab-active: #ccc;
  --spice-button-active: #00b230;
  --spice-button-disabled: #ccc;
  --spice-text: #1a1a1a;
  --spice-subtext: #3f3f3f;
  --spice-rgb-selected-row: 80, 80, 80;
  --spice-rgb-shadow: 220, 220, 220;
  --spice-rgb-text: 0, 0, 0;

  &.encore-dark-theme {
    --essential-base: #aaa;
    --essential-subdued: #ccc;
    --background-tinted-base: #8888881a;
    --background-tinted-highlight: #8888884d;
    --background-tinted-press: #88888856;
    --higher-contrast-text-base-color: #4a4a4a;
  }

  .encore-inverted-light-set {
    --background-highlight: #0f0f0f;
    --decorative-subdued: var(--spice-subtext);
  }

  .main-trackCreditsModal-closeBtn path {
    fill: currentcolor;
  }
}

/* Lyrics Plus */
.lyrics-lyricsContainer-LyricsLine {
  font-weight: 600 !important;
}

.lyrics-config-button-container {
  bottom: 10px;
}

.lyrics-config-button {
  border-radius: 50% !important;
  background-color: rgb(6 6 6 / 20%) !important;
  outline: 1px solid rgb(150 150 150 / 10%);
  box-shadow: 0 0 20px rgb(150 150 150 / 20%);
}
