:root[data-theme='light'] {
  .main-actionBar-exploreButtonPlayIconWrapper {
    background: #fff9;
  }

  .mmNSzQV3h4gmUtIQ {
    filter: invert(1);
  }

  .JdrFm8jUtU8gciOD {
    background-color: #0000004d;
  }

  .BtW0PlrNzwZi7l9w .boFkCF4QGEeMQzn5 {
    color: var(--text-subdued);
  }
}
