:root {
  --default-vinyl-shine-l: 0.85;
  --default-vinyl-groove-l: 0.175;
  --default-vinyl-base-l-start: 0.17;
  --default-vinyl-base-l-end: 0.14;
  --default-vinyl-c: 0;
  --default-vinyl-h: 0;
  --safe-colored-vinyl-c: calc(
    min(var(--colored-vinyl-c), 0.0725) + l * 0.0175
  );
  --vinyl-shine-l: var(--default-vinyl-shine-l);
  --vinyl-groove-l: var(
    --colored-vinyl-groove-l,
    var(--default-vinyl-groove-l)
  );
  --vinyl-base-l-start: var(
    --colored-vinyl-base-l-start,
    var(--default-vinyl-base-l-start)
  );
  --vinyl-base-l-end: var(
    --colored-vinyl-base-l-end,
    var(--default-vinyl-base-l-end)
  );
  --vinyl-shine-l-multiple: 1.6;
  --vinyl-groove-l-multiple: var(
    --colored-vinyl-groove-l-multiple,
    1.28
  );
  --vinyl-base-l-multiple: var(--colored-vinyl-base-l-multiple, 1.25);
  --vinyl-l-offset: 0.05;
  --vinyl-c: var(--safe-colored-vinyl-c, var(--default-vinyl-c));
  --vinyl-h: var(--colored-vinyl-h, var(--default-vinyl-h));
  --vinyl-shine: conic-gradient(
    from 15deg,
    transparent,
    oklch(
        from var(--spice-main)
          clamp(
            var(--vinyl-shine-l),
            l * var(--vinyl-shine-l) * var(--vinyl-shine-l-multiple) +
              var(--vinyl-l-offset),
            var(--vinyl-shine-l) * var(--vinyl-shine-l-multiple)
          )
          var(--vinyl-c) var(--vinyl-h) / 16%
      )
      45deg,
    transparent 90deg 180deg,
    oklch(
        from var(--spice-main)
          clamp(
            var(--vinyl-shine-l),
            l * var(--vinyl-shine-l) * var(--vinyl-shine-l-multiple) +
              var(--vinyl-l-offset),
            var(--vinyl-shine-l) * var(--vinyl-shine-l-multiple)
          )
          var(--vinyl-c) var(--vinyl-h) / 16%
      )
      225deg,
    transparent 270deg 360deg
  );
  --vinyl-groove: repeating-radial-gradient(
    transparent 0px 4px,
    oklch(
        from var(--spice-main)
          clamp(
            var(--vinyl-groove-l),
            l * var(--vinyl-groove-l) * var(--vinyl-groove-l-multiple) +
              var(--vinyl-l-offset),
            var(--vinyl-groove-l) * var(--vinyl-groove-l-multiple)
          )
          var(--vinyl-c) var(--vinyl-h)
      )
      4px 5px,
    transparent 5px 9px,
    oklch(
        from var(--spice-main)
          clamp(
            var(--vinyl-groove-l),
            l * var(--vinyl-groove-l) * var(--vinyl-groove-l-multiple) +
              var(--vinyl-l-offset),
            var(--vinyl-groove-l) * var(--vinyl-groove-l-multiple)
          )
          var(--vinyl-c) var(--vinyl-h) / 70%
      )
      9px 10px
  );
  --vinyl-base: radial-gradient(
    oklch(
      from var(--spice-main)
        clamp(
          var(--vinyl-base-l-start),
          l * var(--vinyl-base-l-start) * var(--vinyl-base-l-multiple) +
            var(--vinyl-l-offset),
          var(--vinyl-base-l-start) * var(--vinyl-base-l-multiple)
        )
        var(--vinyl-c) var(--vinyl-h)
    ),
    oklch(
      from var(--spice-main)
        clamp(
          var(--vinyl-base-l-end),
          l * var(--vinyl-base-l-end) * var(--vinyl-base-l-multiple) +
            var(--vinyl-l-offset),
          var(--vinyl-base-l-end) * var(--vinyl-base-l-multiple)
        )
        var(--vinyl-c) var(--vinyl-h)
    )
  );
  --vinyl-shadow-inset: var(--colored-vinyl-shadow-inset, #0a0a0a);
  --vinyl-inner-shadow-inset: var(
    --colored-vinyl-inner-shadow-inset,
    rgb(3 3 3 / 50%)
  );
  --fad-vinyl-shine: conic-gradient(
    from 15deg,
    transparent,
    oklch(
        from var(--spice-main) var(--default-vinyl-shine-l)
          var(--default-vinyl-c) var(--default-vinyl-h) / 16%
      )
      45deg,
    transparent 90deg 180deg,
    oklch(
        from var(--spice-main) var(--default-vinyl-shine-l)
          var(--default-vinyl-c) var(--default-vinyl-h) / 16%
      )
      225deg,
    transparent 270deg 360deg
  );
  --fad-vinyl-groove: repeating-radial-gradient(
    transparent 0px 4px,
    oklch(
        from var(--spice-main) var(--default-vinyl-groove-l)
          var(--default-vinyl-c) var(--default-vinyl-h)
      )
      4px 5px,
    transparent 5px 9px,
    oklch(
        from var(--spice-main) var(--default-vinyl-groove-l)
          var(--default-vinyl-c) var(--default-vinyl-h) / 70%
      )
      9px 10px
  );
  --fad-vinyl-base: radial-gradient(
    oklch(
      from var(--spice-main) var(--default-vinyl-base-l-start)
        var(--default-vinyl-c) var(--default-vinyl-h)
    ),
    oklch(
      from var(--spice-main) var(--default-vinyl-base-l-end)
        var(--default-vinyl-c) var(--default-vinyl-h)
    )
  );
}

:root[data-colored-vinyl='true'] {
  --colored-vinyl-groove-l: 0.275;
  --colored-vinyl-base-l-start: 0.28;
  --colored-vinyl-base-l-end: 0.24;
  --colored-vinyl-groove-l-multiple: 1.865;
  --colored-vinyl-base-l-multiple: 1.92;
  --colored-vinyl-shadow-inset: oklch(
    from var(--spice-main) calc(8% * l * 5.25) var(--vinyl-c)
      var(--vinyl-h)
  );
  --colored-vinyl-inner-shadow-inset: var(--colored-vinyl-shadow-inset);
}

[data-testid='track-visual-enhancement'] {
  .cover-art {
    margin: calc(17% + 5px);
    position: relative;
    border-radius: 50%;
    animation: rotate-vinyl var(--vinyl-duration) linear infinite
      var(--vinyl-play-state);

    &::before,
    &::after {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      content: '';
    }

    &::before {
      background:
        var(--vinyl-shine), var(--vinyl-groove), var(--vinyl-base);
      box-shadow:
        0 0 5px var(--vinyl-shadow-inset) inset,
        0 0 2px #000;
      transform: scale(1.5);
      filter: drop-shadow(0 0 2px #000);
    }

    &::after {
      box-shadow: 0 0 10px var(--vinyl-inner-shadow-inset) inset;
    }
  }

  .cover-art-icon {
    display: none !important;
  }

  .cover-art-image {
    background-color: #0f0f0f;
    border-radius: 50% !important;
  }
}

#full-app-display {
  #fad-art,
  #fad-art-image,
  #fad-art-inner {
    border-radius: 50% !important;
  }

  #fad-art {
    width: 268px !important;
    margin: 80px 100px;
    position: relative;
    animation: rotate-vinyl var(--vinyl-duration) linear infinite
      var(--vinyl-play-state);
  }

  #fad-art-image {
    background-color: #0f0f0f;
    box-shadow: 0 0 10px rgb(3 3 3 / 50%) inset;
  }

  #fad-art-overlay,
  #fad-art-inner {
    display: none !important;
  }

  #fad-art::before,
  #fad-art::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    content: '';
  }

  #fad-art::before {
    background:
      var(--fad-vinyl-shine), var(--fad-vinyl-groove),
      var(--fad-vinyl-base);
    box-shadow:
      0 0 5px #0a0a0a inset,
      0 0 2px #000;
    transform: scale(1.5);
    filter: drop-shadow(0 0 2px #000);
  }

  #fad-art::after {
    background-color: rgb(100 100 100 / 10%);
    border: 1px solid rgb(150 150 150 / 5%);
    box-shadow:
      0 0 1px rgb(40 40 40 / 20%) inset,
      0 0 1px rgb(200 200 200 / 20%);
    transform: scale(1.65);
    z-index: -1;
  }
}

@keyframes rotate-vinyl {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
