:root {
  --main-song-preview-height: 24px;
}

:root[data-theme='light'] {
  .main-home-content {
    --carousel-start-chevron-gradient: #fafafab3;
    --carousel-end-chevron-gradient: #fafafab3;
  }

  .view-homeShortcutsGrid-shortcut {
    &:hover,
    &:focus-within,
    &[data-context-menu-open='true'] {
      background: var(--background-tinted-highlight);
    }
  }

  /* Shelf */
  .qDV6iOY788QciaIM {
    background: linear-gradient(
      #fff9 46.75%,
      #fff6 63.5%,
      #ffffff1a 83.72%,
      #fff0 97.91%
    );
  }

  .im1AS_NJEoP8AhOc {
    background: linear-gradient(
      #fff0 2.09%,
      #ffffff1a 16.28%,
      #fff6 36.5%,
      #fff9 53.25%
    );
  }

  /* Preview button */
  .fa_L1qIbh7QDDd_h {
    background: #ffffff8a;
  }

  /* Podcasts */
  :has(> [data-uri^='spotify:episode:']) {
    --lightness-expression: l + 0.15;

    .JoGWpig38pszZzLf {
      background-color: oklch(
        from var(--background-color) calc(var(--lightness-expression)) c
          h
      );
    }

    .XxkIgnusUQw8ZRBk {
      --color-from: oklch(
        from var(--background-base-high-contrast)
          calc(var(--lightness-expression)) c h
      );
    }

    header a {
      color: var(--text-base);

      span {
        color: unset;
      }
    }

    .OV8dls1JOKM7Do3h {
      background: var(--background-color, #ffffff4d);
      box-shadow: 0 8px 24px #ffffff80;

      &.FhMdQeQusAQ1KR4A::after {
        background: #ffffff80;
      }
    }

    /* Subtitles */
    .VnkR524M39AkiN9o {
      background: #ffffffb3;

      .GYR_5jfbxRMCH9i2 {
        color: #0000004d;
      }
    }

    /* Preview episode */
    .fa_L1qIbh7QDDd_h {
      background: #0000008a;
    }

    .main-playButton-PlayButton {
      .e-10451-button-primary__inner {
        color: #000;
        background-color: #fff;
      }
    }
  }

  .x-filterBox-expandButton,
  .x-filterBox-filterInput,
  .x-filterBox-filterInput::placeholder,
  .x-filterBox-searchIconContainer,
  .wNy4vq96oFgI73Pw,
  .x-sortBox-sortDropdown,
  .iakzFZiyiY2t0khy {
    color: #000000b3;
  }

  .x-filterBox-expandButton:hover {
    color: var(--spice-text);
    background-color: #0000001a;
  }

  .x-filterBox-filterInput {
    background-color: #0000001a;
  }

  .x-sortBox-sortDropdown:hover {
    color: var(--spice-text);
  }

  .main-contextMenu-menuItemButton {
    &:hover {
      background-color: #0000001a;
    }

    &:not([aria-checked='true']) {
      color: #000000e6;

      &:hover {
        color: var(--spice-text);
      }
    }
  }

  .main-trackList-trackListRow {
    &:hover,
    &:focus-within {
      background-color: var(--background-tinted-base);
    }

    &.q8suB2R_XkoUyIeZ,
    &.q8suB2R_XkoUyIeZ:hover {
      background-color: var(--background-tinted-highlight);
    }
  }

  .Y_cU5gxVCf474dg4,
  .ldCmP3kZajc6aBTg,
  .DTD2wBL5oiABNB41,
  .ID2g7x_jmlEyyJmo,
  .kMoCFkb3ipEr3iZf {
    filter: invert(1);
  }

  /* Library */
  .HFowbNOgNPgtZSE4 {
    box-shadow: 0 6px 10px #aaaaaa26;
  }

  /* NPV & Queue */
  .main-nowPlayingView-mainWrapper {
    --text-subdued: #000000b3;
  }

  .BEeVmHj340c0PYHe,
  .artist-artistDiscography-topBarScrolled {
    box-shadow: 0 6px 10px #fff9;
  }

  .main-nowPlayingView-contextItemInfo::before {
    background: linear-gradient(
      180deg,
      hsl(0deg 0% 93% / 0%),
      hsl(0deg 0% 93% / 45%) 18%,
      var(--spice-main) 89%,
      var(--spice-main) 96%
    );
  }

  /* About the artist */
  .B3B0XuueQy4Swpyw.ppsr9k1cXo055Z3t.P1a_MNB6ZEIu50sz {
    &::before {
      position: absolute;
      inset: 0;
      background: linear-gradient(
        rgb(255 255 255 / 50%) 0%,
        rgb(255 255 255 / 0%) 35%
      );
      content: '';
      aspect-ratio: 3 / 2;
    }

    .oyoU3RD4WIkhZoGS {
      position: relative;
    }
  }

  /* NPV Expanded */
  .Root__cinema-view {
    .main-trackInfo-name a {
      color: var(--text-base);
    }

    /* About the artist */
    .JO5DuTPjVVoBxIKN {
      background-color: #ffffff80;
    }
  }

  [data-encore-id='verifiedBadge'] {
    --encore-verified-badge-background: #5c9d62;
  }

  /* close button */
  .yMgvi79CxA6kU0bR {
    &:hover,
    &:focus {
      background-color: #0000001a;
    }
  }

  .main-nowPlayingView-queueItem,
  .main-nowPlayingView-credits,
  .YZ3y8n8ToUt_xDKt,
  .cRZ07x9PDlEsxMNl,
  .main-trackCreditsModalV2-container {
    [data-encore-id='listRow'] {
      --box-hover-background-color: var(
        --background-tinted-base
      ) !important;
    }
  }

  /* Library */
  .aE_ayHuwU0UG20h2,
  /* Search popup */
  .HqUgEQOPyVcDu2NW {
    &:hover::after {
      background-color: var(--background-tinted-base);
    }
  }

  /* Search - All */
  .TguLwQ522LIEgpK_.IxVxBUbV5M5tGaEx {
    &::after {
      inset: 0;
    }

    &:hover,
    &:hover::after,
    &:focus-within {
      background-color: #eee;
    }
  }

  /* Library - Create */
  .ZeXdFwqzGVcDIHWQ {
    background: #0000001a;
  }

  .NJh1B8rnlSUlK7sY .main-contextMenu-menuItemButton:not(:hover) {
    .gujKEfaZCcsENUBD,
    .u3QdVwmOcAtlNUqR,
    .cwoKLAkR_rAsTRWM {
      fill: currentcolor;
    }
  }

  /* list row */
  .x-entityImage-imageContainer {
    box-shadow: 0 4px 60px #ffffff80;
  }

  /* Library */
  .cS2oX60hERkVbAKR,
  /* Next in queue */
  .znTd53DrNIcJnJvv,
  /* Recents */
  .VpUQM5JUYIIbAaSL,
  /* Search popup */
  .gQsOCrC4O3kYXib2,
  /* Search - All */
  .WRAJX50Owww6lGws::before,
  .main-actionBar-exploreButtonPlayIconWrapper,
  /* Recommended */
  .jI_IBNN4ddM_GyKh .T3i51foJdn0tRIOO,
  /* Add to playlist Panel */
  .yAqWz24y2vgpEYX8 {
    background: #fff9;
  }

  /* Friend Activity */
  .RfzQ68DFkXY5DQ0f .aLhQGd90DoUBzfNW {
    color: var(--spice-text);
  }

  [data-testid='progress-bar'] {
    --bg-color: #0000004d;
    --mg-color: #000000b3;
  }

  .main-genericButton-button:not(.main-genericButton-buttonActive) {
    color: var(--text-subdued);
  }

  /* Add to playlist */
  .gke5k3GmXyE2J5Pm::before {
    background: linear-gradient(#aaaaaa26, #0000);
  }

  .UmC7B1blaToOXizU::before {
    background: linear-gradient(#0000, #aaaaaa26);
  }

  /* Artist */
  .bHqdRdxo4vtOizQq {
    background:
      linear-gradient(#0000 0%, #ffffff80 100%), var(--background-noise);
  }

  /* About */
  .J8g7rZ2MDknxmiYP.GUhu8mqqIMM0sZzG::before {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      rgb(255 255 255 / 0%) 25%,
      rgb(255 255 255 / 50%) 100%
    );
    content: '';
  }

  /* close button */
  .EU1ylDKh7s2oMU0g:not(:hover) {
    color: #000000b3;
    background-color: #ffffffb3;
  }

  .main-trackCreditsModal-header,
  .main-trackCreditsModalV2-header {
    border-bottom-color: #0000001a;
  }

  .main-trackCreditsModalV2-closeBtn:hover {
    background-color: #0000001a;
  }

  /* Playlist */
  .f0DRpgeIxygEki9e {
    background-color: #0000001a;
  }

  .main-playlistEditDetailsModal-closeBtn {
    color: #000000b3;

    &:hover,
    &:focus {
      background-color: #0000001a;
    }
  }

  .main-playlistEditDetailsModal-textElement {
    background-color: #0000001a;

    &:focus {
      background-color: var(--spice-highlight-elevated);
    }
  }

  /* Explore */
  .mmNSzQV3h4gmUtIQ {
    filter: invert(1);
  }

  .JdrFm8jUtU8gciOD {
    background-color: #0000004d;
  }

  .BtW0PlrNzwZi7l9w .boFkCF4QGEeMQzn5 {
    color: var(--text-subdued);
  }

  /* Profile */
  .main-editImageButton-overlay,
  .tch9DldVF8oyie2D {
    background-color: #ffffffb3;
  }

  .profile-userEditDetails-container {
    --user-edit-input-bg: #0000001a;
    --user-edit-input-focus-bg: var(--spice-highlight-elevated);
    --user-edit-close-color: #000000b3;
    --user-edit-close-hover: #0000001a;
  }

  .main-entityHeader-metaData {
    --text-subdued: unset !important;
  }

  .main-entityHeader-metaDataText {
    color: unset;
  }

  .main-entityHeader-headerText
    > div:has(.playlist-playlist-playlistDescription) {
    --text-subdued: unset !important;
  }

  [data-testid='settings-page'] .x-toggle-indicator {
    background: var(--spice-highlight-elevated) !important;
  }

  .x-settings-equalizerSection {
    background-color: var(--spice-sidebar);
  }

  .x-settings-equalizerPanelCanvas {
    z-index: 100;
  }

  .x-settings-equalizerPanelFilters::before {
    border-bottom: 1px solid #5555551a;
  }

  .x-settings-equalizerPanelFilter::after {
    border-right: 1px solid #5555551a;
  }
}

/* Remove Upgrade Button, AD */
.main-topBar-UpgradeButton,
[data-testid='test-ref-div'],
[data-testid='billboard-minimized'] {
  display: none;
}

.main-home-homeHeader {
  background: unset !important;
}

.main-home-filterChipsSection {
  background-color: var(--spice-main);
  box-shadow: 0 6px 10px rgb(var(--spice-rgb-shadow), 60%);

  &::after {
    background-color: unset !important;
  }
}

/* Playlist */
.main-entityHeader-backgroundColor,
.main-actionBarBackground-background,
.main-topBar-overlay,
.playlist-playlist-actionBarBackground-background {
  background: unset !important;
}

.main-actionBarBackground-background {
  background-image: unset;
}

.main-entityHeader-shadow {
  box-shadow: unset;
}

.main-topBar-background {
  background-color: var(--spice-main);
}

.main-rootlist-wrapper
  [role='row']:is(
    [aria-rowindex$='0'],
    [aria-rowindex$='2'],
    [aria-rowindex$='4'],
    [aria-rowindex$='6'],
    [aria-rowindex$='8']
  ) {
  background: linear-gradient(
    to right,
    transparent,
    rgb(120 120 120 / 5%),
    transparent
  );
}

/* Cover Image */
.main-coverSlotCollapsed-container {
  box-shadow: 0 0 16px rgb(var(--spice-rgb-subtext), 40%);
}

/* Progress Bar */
.Root__now-playing-bar {
  position: relative;
}

.main-nowPlayingBar-nowPlayingBar {
  height: 64px;
}

.main-nowPlayingBar-center {
  margin-top: 28px;
}

.Root__now-playing-bar .playback-bar {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 100;
}

.playback-progressbar,
[data-testid='progress-bar-background'],
.x-progressBar-sliderArea {
  height: var(--custom-progress-bar-slider-size);
  display: flex;
  align-items: center;
}

[data-testid='progress-bar-background'],
.x-progressBar-progressFillColor,
.x-progressBar-fillColor {
  height: var(--custom-progress-bar-height);
}

.x-progressBar-fillColor {
  background-color: var(--spice-button);

  &&::after {
    width: var(--custom-progress-bar-slider-size);
    height: var(--custom-progress-bar-slider-size);
    display: none;
    position: absolute;
    top: calc(0px - var(--progress-bar-center-offset));
    right: calc(0px - var(--custom-progress-bar-slider-size) / 2);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 var(--custom-progress-bar-height)
      var(--spice-button) inset;
    content: '';
    transform: translateX(
      calc(
        var(--custom-progress-bar-slider-size) / 2 -
          (var(--progress-bar-transform) / 100%) *
          var(--custom-progress-bar-slider-size)
      )
    );
  }
}

[data-testid='playback-progressbar']:focus-within {
  .x-progressBar-fillColor::after {
    display: block;
  }
}

[data-testid='progress-bar'] {
  &:hover,
  &.BHmy3gDonuwYeA9I {
    .x-progressBar-fillColor::after {
      display: block;
    }
  }
}

[data-testid='progress-bar-handle'] {
  display: none !important;
}

.playback-bar .x-progressBar-fillColor {
  transition: transform var(--progress-bar-duration) linear;
}

.playback-bar__progress-time-elapsed,
[data-testid='playback-duration'] {
  height: var(--main-song-preview-height);
  position: absolute;
  top: calc(
    var(--progress-bar-center-offset) +
      var(--custom-progress-bar-height)
  );
  left: 50%;
  line-height: var(--main-song-preview-height);
}

.playback-bar__progress-time-elapsed {
  transform: translateX(calc(-100% - 10px));
}

.playback-bar__progress-time-elapsed::after {
  position: absolute;
  left: calc(100% + 10px);
  font-weight: bold;
  color: rgb(var(--spice-rgb-button), 50%);
  content: '/';
  transform: translateX(-50%);
}

[data-testid='playback-duration'] {
  transform: translateX(10px);
}

.main-song-preview {
  width: 100vw;
  height: var(--main-song-preview-height);
  padding: 0 10px;
  position: relative;
  left: calc(0px - var(--panel-gap));
  bottom: calc(0px - var(--panel-gap));
  background-color: var(--main-song-preview-color);
  order: 100;
}
